body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkslategray;
}

a {
    color: white;
}

h1 {
    background-color:none;
    height: 50px;
    color:white;
    padding: 0 0 0 20px;
}

h3 {
    padding: 15px 0 0 20px;
    font-size: 20px;
    width: 200px;
}

p {
    font-size: 25px;
}

ul {
    padding: 20px 20px 0px 20px;
}
.box {
    border: 2px solid white;
}

nav ul li{
   list-style-type: none;
   display:inline;
}

div ul li{
    list-style-type: none;
    display:inline
}

div ul{
    display:flex;
}

.ContainerContactMe {
    display:flex;
}

.ContainerContactMe ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ContainerContactMe ul li{
    font-size: 20px;
    padding: 10px 30px 20px 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.flex-container .box {
    width: 375px;
}

#surf-report {
    background-color: mediumslateblue;
    width:800px;
    height:250px;
}

#AboutMe {
    font-size: 9px;
}